*.dbf filter=lfs diff=lfs merge=lfs -text
*.gdb/**.gdbtable filter=lfs diff=lfs merge=lfs -text
*.gdb/**.gdbindexes filter=lfs diff=lfs merge=lfs -text
*.gdb/**.spx filter=lfs diff=lfs merge=lfs -text
*.gdb/**.atx filter=lfs diff=lfs merge=lfs -text
